/*! imports */
@font-face {
    font-family: 'Amiri';
    src: url('../assets/font/Amiri/Amiri-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Amiri';
    src: url('../assets/font/Amiri/Amiri-BoldItalic.ttf');
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: 'Amiri';
    src: url('../assets/font/Amiri/Amiri-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Amiri';
    src: url('../assets/font/Amiri/Amiri-Italic.ttf');
    font-style: italic;
    font-weight: 400;
}
/*! reset  */
*{
 margin: 0;   
 padding: 0;
 box-sizing: border-box;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/*! global */
body{
    font-family: 'Amiri';
    font-weight: 700;
    font-size: 20px;
    background-color: #E2FAFC;
}
/*! body content */
/*? navbar */
body nav{
    margin: -8px 0px -8px 0px;
}
.navbar .container-fluid{
    background-color:transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;  
}
.navbar-nav .nav-item .nav-link ,.d-flex .btn{
    color:white;
}
.navbar-nav .nav-item .nav-link:hover{
    color: rgba(104, 122, 154, 0.8);
}
.d-flex .btn{
    border: 1px solid white;
}
.d-flex .btn:hover{
    background-color:#625231;
    color:white;
}
.d-flex .btn{
    width: 8em;
    background-color: #D7CAB0;
    font-size: 23px;
    border-radius: 20px;
    border: 1px solid black;
}
/*? section video  */
.bg-video{
    position: relative;
    width: 100%;
    height: 100%;
}
.main-header h1 {
    position: absolute;
    color: white;
    top: 30%;
    right: 5%;
    font-size: 60px;
    line-height: 1.6;
}
.main-header button{
    position: absolute;
    top: 55%;
    right: 5%;
    width: 10em;
    line-height: 1.6;
    padding: 10px 18px;
    border-radius: 20px;
    border: 1px solid black;
    background-color:#D7CAB0;
}
.bg-video button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.bg-video button:hover{
    background-color:#625231;
    color:white;
}
.bg-video button .btn{
    width: 8em;
    background-color: #D7CAB0;
    font-size: 23px;
    border-radius: 20px;
    border: 1px solid black;
}
.overlay{
    position: absolute;
    width: 100%;
    height:118vh;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.num{
    position: absolute;
    color: white;
    top: 65%;
    right: 5%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.num article span{
    font-size: 30px;
    font-weight:700 ; 
}
/*? why choose us */
.why-choose-us {
    max-width: 1000px;
    height: 650px;
    margin:3em auto;
    background-color: #007E82;
    padding: 20px;
    border-radius: 8px;
}

.why-choose-us h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    
}

.why-choose-us .feature {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
}

.why-choose-us .feature .icon img {
    width: 2.5em;
    height: 2.5em;
    margin-right: 10px;
}

.why-choose-us .feature .text {
    text-align: start;
}

.why-choose-us .feature .text h3 {
    margin: 0;
    font-size: 18px;
}

.why-choose-us .feature .text p {
    margin: 5px 0 0;
    font-size: 14px;
}

hr {
    border: 0;
    height: 1px;
    background: white;
    margin: 10px 0;
}

.book-btn {
    background-color: #FFC107;
    color: black;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px ;
}
.bookNow{
    text-align: center;
}

.book-btn:hover {
    background-color: #e0a800;
}


/* !!!!!!!!!!ناقص خطططططططط */

.booknow button{
    width: 8em;
    background-color: #D7CAB0;
    font-size: 23px;
    border-radius: 20px;
    border: 1px solid black;
    padding:5px 0px ;
}
.booknow button:hover{
    background-color:#625231;
    color:white;
}
.icons .booknow {
    display: flex;
    justify-content: center;
    padding: 30px;
}
/*? dentist Image */
.dentist h2{
    text-align: center;
    margin: 3em;
}
.dentist .dentistImage{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.dentist .dentistImage figure img{
    width: 400px;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 4em;
}
/*? emergency */
.emergency{
    text-align: center;
    background-color: #F05D0E;
    color: white;
    padding: 4em;
    line-height: 1.6;
}
.emergency img{
    width: 5em;
    height: 5em;
    margin-bottom: 20px;
}
.emergency p a{
    color: white;
}
/*? slider rates */
.slider{
    border-radius: 20px;
    width: 80%;
    height: 70vh;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:blue;
    box-shadow: 5px 5px 10px black;
}
.leftImage img{
    border-radius: 10px;
}
.leftImage{
    width: 40%;
}
.rightImage {
    width: 30%;
}
/*? footer */
.topFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    background-color:rgb(0, 214, 163);
}

.topFooter .top a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}
.topFooter .top p{
    display: flex;
    flex-direction: column;
}
.topFooter .top i{
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 35px;
}
.topFooter .top p span{
    font-size: 12px;
}
/*? bottom footer */
.list li::before{
    content: "- ";
    color: rgb(0, 214, 163);
}
.list li a{
    color: black;
}
.bottomFooter{
    line-height: 2;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 3em;
    width: 100%;
    color: #E8E0D1;
    background-color:rgb(3, 59, 74);
}
.bottomFooter article{
    width: calc(100%/3);
}
.bottomFooter .bottom1 h2{
    margin-top: 100px;
}
.bottomFooter .bottom1 p{
    font-size: 15px;
    padding: 15px;
}
.socialLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.socialLinks i{
    border: 1.5px solid rgb(0, 214, 163);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    padding: 15px;
    color: rgb(0, 214, 163);
}
.socialLinks i:hover{
    background-color: rgb(0, 214, 163);
    color: white;
}
.bottomFooter .bottom2 li{
    font-size: 15px;
    padding: 15px;
}
.bottomFooter .bottom2 {
    margin-top: 50px;
}
.bottomFooter .bottom3 .serviceLink{
    display: flex;
    font-size: 15px;
    padding: 15px;
}
.bottom3 .serviceLink .list li {
    margin-bottom: 20px;
}
.bottom3 .serviceLink .list li a{
    color: white;
    display: inline-block;
    transition: transform 0.4s ease-in-out;
}
.bottom3 .serviceLink .list li a:hover{
    color: rgb(0, 214, 163);
    transform: scale(0.9);
}
.bottomFooter .bottom3{
    margin-bottom: 40px;
}

/*? end footer  */
footer .endFooter {
    background-color: rgb(1, 51, 64);
    text-align: center;
    padding: 15px;
    color: white;
    font-size: 16px;
}
/*! image query */